@* SYNTAX TEST "Packages/HTML (C#)/Razor/Razor.sublime-syntax" *@
@* https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1 *@

    @using System.Collections.Generic
@*  ^ punctuation.section.embedded.line.cs-razor *@
@*   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html *@
@*   ^^^^^ keyword.other.cs-razor *@
@*         ^^^^^^ variable.namespace.cs *@
@*               ^ punctuation.accessor.dot.cs *@
@*                ^^^^^^^^^^^ variable.namespace.cs *@
@*                           ^ punctuation.accessor.dot.cs *@
@*                            ^^^^^^^ variable.namespace.cs *@
@*                                   ^ - source.cs *@

    @model IEnumerable<SomeNamespace.SomeType>
@*  ^ punctuation.section.embedded.line.cs-razor *@
@*   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html *@
@*   ^^^^^ keyword.other.cs-razor *@
@*         ^^^^^^^^^^^ entity.other.inherited-class.cs *@
@*                    ^^^^^^^^^^^^^^^^^^^^^^^^ meta.generic.cs *@
@*                    ^ punctuation.definition.generic.begin.cs *@
@*                     ^^^^^^^^^^^^^ support.type.cs *@
@*                                  ^ punctuation.accessor.dot.cs *@
@*                                   ^^^^^^^^ support.type.cs *@
@*                                           ^ punctuation.definition.generic.end.cs *@
@*                                            ^ - source.cs *@

    <p>@@Username</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*     ^^ constant.character.escape.cs-razor *@
@*               ^^^^ meta.tag.block.any.html *@
@*               ^^ punctuation.definition.tag.begin.html *@
@*                 ^ entity.name.tag.block.any.html *@
@*                  ^ punctuation.definition.tag.end.html *@

    <p>@Username</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*     ^ punctuation.section.embedded.line.cs-razor *@
@*      ^^^^^^^^ source.cs.embedded.html variable.other.cs *@
@*              ^^^^ meta.tag.block.any.html *@
@*              ^^ punctuation.definition.tag.begin.html *@
@*                ^ entity.name.tag.block.any.html *@
@*                 ^ punctuation.definition.tag.end.html *@

    <a href="mailto:Support@contoso.com">Support@contoso.com</a>
@*  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ - source.cs *@
@*  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.inline.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.inline.any.html *@
@*     ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.href.html *@
@*     ^^^^ entity.other.attribute-name.href.html *@
@*         ^ punctuation.separator.key-value.html *@
@*          ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html *@
@*           ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.path.url.html meta.string.html string.quoted.double.html *@
@*                                     ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html *@
@*                                      ^ punctuation.definition.tag.end.html *@
@*                                                          ^^^^ meta.tag.inline.any.html *@
@*                                                          ^^ punctuation.definition.tag.begin.html *@
@*                                                            ^ entity.name.tag.inline.any.html *@
@*                                                             ^ punctuation.definition.tag.end.html *@

    @*  *@
@*  ^^^^^^ comment.block.cs-razor *@
@*  ^^ punctuation.definition.comment.block.begin.cs-razor *@
@*      ^^ punctuation.definition.comment.block.end.cs-razor *@

    <p>@DateTime.Now</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*     ^ punctuation.section.embedded.line.cs-razor *@
@*      ^^^^^^^^^^^^ source.cs.embedded.html *@
@*      ^^^^^^^^ variable.other.cs *@
@*              ^ punctuation.accessor.dot.cs *@
@*               ^^^ variable.other.cs *@
@*                  ^^^^ meta.tag.block.any.html *@
@*                  ^^ punctuation.definition.tag.begin.html *@
@*                    ^ entity.name.tag.block.any.html *@
@*                     ^ punctuation.definition.tag.end.html *@

    <p>@DateTime.IsLeapYear(2016)</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*     ^ punctuation.section.embedded.line.cs-razor *@
@*      ^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html *@
@*      ^^^^^^^^ variable.other.cs *@
@*              ^ punctuation.accessor.dot.cs *@
@*               ^^^^^^^^^^ meta.function-call.identifier.cs variable.function.cs *@
@*                         ^^^^^^ meta.function-call.arguments.cs meta.group.cs *@
@*                         ^ punctuation.section.group.begin.cs *@
@*                          ^^^^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                              ^ punctuation.section.group.end.cs *@
@*                               ^^^^ meta.tag.block.any.html *@
@*                               ^^ punctuation.definition.tag.begin.html *@
@*                                 ^ entity.name.tag.block.any.html *@
@*                                  ^ punctuation.definition.tag.end.html *@

    @* TODO: This should end right before `<int>` *@
    <p>@GenericMethod<int>()</p>

    <p>@(GenericMethod<int>())</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*       ^^^^^^^^^^^^^^^^^^ meta.function-call.identifier.cs *@
@*       ^^^^^^^^^^^^^ variable.function.cs *@
@*                    ^^^^^ meta.generic.cs *@
@*                    ^ punctuation.definition.generic.begin.cs *@
@*                     ^^^ storage.type.primitive.cs *@
@*                        ^ punctuation.definition.generic.end.cs *@
@*                         ^^ meta.function-call.arguments.cs meta.group.cs *@
@*                         ^ punctuation.section.group.begin.cs *@
@*                          ^ punctuation.section.group.end.cs *@
@*                            ^^^^ meta.tag.block.any.html *@
@*                            ^^ punctuation.definition.tag.begin.html *@
@*                              ^ entity.name.tag.block.any.html *@
@*                               ^ punctuation.definition.tag.end.html *@

    @("<span>Hello World</span>")
@*    ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.cs string.quoted.double.cs *@
@*    ^ punctuation.definition.string.begin.cs *@
@*                             ^ punctuation.definition.string.end.cs *@

    @Html.Raw("<span>Hello World</span>")
@*  ^ punctuation.section.embedded.line.cs-razor *@
@*   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html *@
@*   ^^^^ variable.language.this.razor *@
@*       ^ punctuation.accessor.dot.cs *@
@*        ^^^ meta.function-call.identifier.cs variable.function.cs *@
@*           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.arguments.cs meta.group.cs *@
@*           ^ punctuation.section.group.begin.cs *@
@*            ^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.cs string.quoted.double.cs *@
@*            ^ punctuation.definition.string.begin.cs *@
@*                                     ^ punctuation.definition.string.end.cs *@
@*                                      ^ punctuation.section.group.end.cs *@

     @if (val % 2 == 0) { <p>The value was even.</p> } else { <p>The value was odd.</p> }
@*   ^ punctuation.section.embedded.cs-razor *@
@*    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html *@
@*    ^^ keyword.control.conditional.if.cs *@
@*       ^^^^^^^^^^^^^^ meta.group.cs *@
@*       ^ punctuation.section.group.begin.cs *@
@*        ^^^ variable.other.cs *@
@*            ^ keyword.operator.arithmetic.cs *@
@*              ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                ^^ keyword.operator.comparison.cs *@
@*                   ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                    ^ punctuation.section.group.end.cs *@
@*                      ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*                      ^ punctuation.section.block.begin.cs *@
@*                        ^^^ meta.tag.block.any.html *@
@*                        ^ punctuation.definition.tag.begin.html *@
@*                         ^ entity.name.tag.block.any.html *@
@*                          ^ punctuation.definition.tag.end.html *@
@*                                              ^^^^ meta.tag.block.any.html *@
@*                                              ^^ punctuation.definition.tag.begin.html *@
@*                                                ^ entity.name.tag.block.any.html *@
@*                                                 ^ punctuation.definition.tag.end.html *@
@*                                                   ^ punctuation.section.block.end.cs *@
@*                                                     ^^^^ keyword.control.conditional.else.cs *@
@*                                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*                                                          ^ punctuation.section.block.begin.cs *@
@*                                                            ^^^ meta.tag.block.any.html *@
@*                                                            ^ punctuation.definition.tag.begin.html *@
@*                                                             ^ entity.name.tag.block.any.html *@
@*                                                              ^ punctuation.definition.tag.end.html *@
@*                                                                                 ^^^^ meta.tag.block.any.html *@
@*                                                                                 ^^ punctuation.definition.tag.begin.html *@
@*                                                                                   ^ entity.name.tag.block.any.html *@
@*                                                                                    ^ punctuation.definition.tag.end.html *@
@*                                                                                      ^ punctuation.section.block.end.cs *@

    @if (val % 2 == 0)
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^ keyword.control.conditional.if.cs *@
@*      ^^^^^^^^^^^^^^ meta.group.cs *@
@*      ^ punctuation.section.group.begin.cs *@
@*       ^^^ variable.other.cs *@
@*           ^ keyword.operator.arithmetic.cs *@
@*             ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*               ^^ keyword.operator.comparison.cs *@
@*                  ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                   ^ punctuation.section.group.end.cs *@
    {
@*^^^^ source.cs.embedded.html *@
@*  ^^ meta.block.cs *@
@*  ^ punctuation.section.block.begin.cs *@
        <p>The value was even.</p>
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html meta.block.cs *@
@*      ^^^ meta.tag.block.any.html *@
@*      ^ punctuation.definition.tag.begin.html *@
@*       ^ entity.name.tag.block.any.html *@
@*        ^ punctuation.definition.tag.end.html *@
@*                            ^^^^ meta.tag.block.any.html *@
@*                            ^^ punctuation.definition.tag.begin.html *@
@*                              ^ entity.name.tag.block.any.html *@
@*                               ^ punctuation.definition.tag.end.html *@
    }
@*^^^^ source.cs.embedded.html *@
@*^^^ meta.block.cs *@
@*  ^ punctuation.section.block.end.cs *@
    else if (val >= 1337)
@*^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html *@
@*  ^^^^^^^ keyword.control.conditional.elseif.cs *@
@*          ^^^^^^^^^^^^^ meta.group.cs *@
@*          ^ punctuation.section.group.begin.cs *@
@*           ^^^ variable.other.cs *@
@*               ^^ keyword.operator.comparison.cs *@
@*                  ^^^^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                      ^ punctuation.section.group.end.cs *@
    {
        <p>The value is large.</p>
    }
    else
@*^^^^^^^ source.cs.embedded.html *@
@*  ^^^^ keyword.control.conditional.else.cs *@
    {
        <p>The value is odd and small.</p>
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html meta.block.cs *@
@*      ^^^ meta.tag.block.any.html *@
@*      ^ punctuation.definition.tag.begin.html *@
@*       ^ entity.name.tag.block.any.html *@
@*        ^ punctuation.definition.tag.end.html *@
@*                                    ^^^^ meta.tag.block.any.html *@
@*                                    ^^ punctuation.definition.tag.begin.html *@
@*                                      ^ entity.name.tag.block.any.html *@
@*                                       ^ punctuation.definition.tag.end.html *@
    }
@*^^^^ source.cs.embedded.html *@
@*^^^ meta.block.cs *@
@*  ^ punctuation.section.block.end.cs *@

    @switch (val)
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^^^^^ keyword.control.conditional.switch.cs *@
@*          ^^^^^ meta.group.cs *@
@*          ^ punctuation.section.group.begin.cs *@
@*           ^^^ variable.other.cs *@
@*              ^ punctuation.section.group.end.cs *@
    {
        case 1:
@*^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^^ meta.case.cs keyword.control.conditional.case.cs *@
@*          ^^ meta.case.pattern.cs *@
@*           ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*            ^ meta.case.cs punctuation.separator.colon.cs *@
            <p>The value is 1!</p>
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*          ^^^ meta.tag.block.any.html *@
@*          ^ punctuation.definition.tag.begin.html *@
@*           ^ entity.name.tag.block.any.html *@
@*            ^ punctuation.definition.tag.end.html *@
@*                            ^^^^ meta.tag.block.any.html *@
@*                            ^^ punctuation.definition.tag.begin.html *@
@*                              ^ entity.name.tag.block.any.html *@
@*                               ^ punctuation.definition.tag.end.html *@
            break;
        case 1337:
            <p>Your number is 1337!</p>
            break;
        default:
            <p>Your number wasn't 1 or 1337.</p>
            break;
@*^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*          ^^^^^ keyword.control.flow.break.cs *@
@*               ^ punctuation.terminator.statement.cs *@
    }

    @do {
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^ keyword.control.loop.do.cs *@
@*      ^^ meta.block.cs *@
@*      ^ punctuation.section.block.begin.cs *@
        <p>@foo</p>
@*^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^ meta.tag.block.any.html *@
@*      ^ punctuation.definition.tag.begin.html *@
@*       ^ entity.name.tag.block.any.html *@
@*        ^ punctuation.definition.tag.end.html *@
@*         ^ punctuation.section.embedded.line.cs-razor *@
@*          ^^^ source.cs.embedded.html variable.other.cs *@
@*             ^^^^ meta.tag.block.any.html *@
@*             ^^ punctuation.definition.tag.begin.html *@
@*               ^ entity.name.tag.block.any.html *@
@*                ^ punctuation.definition.tag.end.html *@
    }
    while (foo <= 5)
@*  ^^^^^ keyword.control.loop.while.cs *@
@*        ^^^^^^^^^^ meta.group.cs *@
@*        ^ punctuation.section.group.begin.cs *@
@*         ^^^ variable.other.cs *@
@*             ^^ keyword.operator.comparison.cs *@
@*                ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                 ^ punctuation.section.group.end.cs *@


    @for (var i = 0; i < people.Length; i++)
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^^ keyword.control.loop.for.cs *@
@*       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.group.cs *@
@*       ^ punctuation.section.group.begin.cs *@
@*        ^^^ storage.type.variant.cs *@
@*            ^ variable.other.cs *@
@*              ^ keyword.operator.assignment.cs *@
@*                ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                 ^ punctuation.terminator.statement.cs *@
@*                   ^ variable.other.cs *@
@*                     ^ keyword.operator.comparison.cs *@
@*                       ^^^^^^ variable.other.cs *@
@*                             ^ punctuation.accessor.dot.cs *@
@*                              ^^^^^^ variable.other.cs *@
@*                                    ^ punctuation.terminator.statement.cs *@
@*                                      ^ variable.other.cs *@
@*                                       ^^ keyword.operator.arithmetic.cs *@
@*                                         ^ punctuation.section.group.end.cs *@
    {
        var person = people[i];
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^ storage.type.variant.cs *@
@*          ^^^^^^ variable.other.cs *@
@*                 ^ keyword.operator.assignment.cs *@
@*                   ^^^^^^ variable.other.cs *@
@*                         ^^^ meta.brackets.cs *@
@*                         ^ punctuation.section.brackets.begin.cs *@
@*                          ^ variable.other.cs *@
@*                           ^ punctuation.section.brackets.end.cs *@
@*                            ^ punctuation.terminator.statement.cs *@
        <text>Name: @person.Name</text>
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^^^^ meta.tag.other.html *@
@*      ^ punctuation.definition.tag.begin.html *@
@*       ^^^^ entity.name.tag.other.html *@
@*           ^ punctuation.definition.tag.end.html *@
@*                  ^ punctuation.section.embedded.line.cs-razor *@
@*                   ^^^^^^^^^^^ source.cs.embedded.html *@
@*                   ^^^^^^ variable.other.cs *@
@*                         ^ punctuation.accessor.dot.cs *@
@*                          ^^^^ variable.other.cs *@
@*                              ^^^^^^^ meta.tag.other.html *@
@*                              ^^ punctuation.definition.tag.begin.html *@
@*                                ^^^^ entity.name.tag.other.html *@
@*                                    ^ punctuation.definition.tag.end.html *@
    }

    @for (var i = 0; i < people.Length; i++)
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^^ keyword.control.loop.for.cs *@
@*       ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.group.cs *@
@*       ^ punctuation.section.group.begin.cs *@
@*        ^^^ storage.type.variant.cs *@
@*            ^ variable.other.cs *@
@*              ^ keyword.operator.assignment.cs *@
@*                ^ meta.number.integer.decimal.cs constant.numeric.value.cs *@
@*                 ^ punctuation.terminator.statement.cs *@
@*                   ^ variable.other.cs *@
@*                     ^ keyword.operator.comparison.cs *@
@*                       ^^^^^^ variable.other.cs *@
@*                             ^ punctuation.accessor.dot.cs *@
@*                              ^^^^^^ variable.other.cs *@
@*                                    ^ punctuation.terminator.statement.cs *@
@*                                      ^ variable.other.cs *@
@*                                       ^^ keyword.operator.arithmetic.cs *@
@*                                         ^ punctuation.section.group.end.cs *@
    {
        var person = people[i];
        @:Name: @person.Name
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^ punctuation.section.embedded.html.cs-razor *@
@*        ^^^^^^^^^^^^^^^^^^ text.html.basic - punctuation *@
    }

    @{ }  
@*  ^^^^^^^ meta.embedded.cs *@
@*  ^^ punctuation.section.embedded.begin.cs-razor - source *@
@*    ^ source.cs.embedded.html *@
@*     ^ punctuation.section.embedded.end.cs-razor - source *@
@*      ^^^ meta.html-newline-after-csharp.cs-razor - source *@

    @{
        var quote = "The future depends on what you do today. - Mahatma Gandhi";
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.cs source.cs.embedded.html *@
@*      ^^^ storage.type.variant.cs *@
@*          ^^^^^ variable.other.cs *@
@*                ^ keyword.operator.assignment.cs *@
@*                  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.cs string.quoted.double.cs *@
@*                  ^ punctuation.definition.string.begin.cs *@
@*                                                                            ^ punctuation.definition.string.end.cs *@
@*                                                                             ^ punctuation.terminator.statement.cs *@
    }
@*   ^ text.html - source *@

    <p>@quote</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*     ^ punctuation.section.embedded.line.cs-razor *@
@*      ^^^^^ source.cs.embedded.html variable.other.cs *@
@*           ^^^^ meta.tag.block.any.html *@
@*           ^^ punctuation.definition.tag.begin.html *@
@*             ^ entity.name.tag.block.any.html *@
@*              ^ punctuation.definition.tag.end.html *@

    @{
        quote = "Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.";
    }

    <p>@quote</p>
@*  ^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^ entity.name.tag.block.any.html *@
@*    ^ punctuation.definition.tag.end.html *@
@*     ^ punctuation.section.embedded.line.cs-razor *@
@*      ^^^^^ source.cs.embedded.html variable.other.cs *@
@*           ^^^^ meta.tag.block.any.html *@
@*           ^^ punctuation.definition.tag.begin.html *@
@*             ^ entity.name.tag.block.any.html *@
@*              ^ punctuation.definition.tag.end.html *@

    @using (Html.BeginForm())
    {
        <div>
            email:
    <!-- TODO: what should the above be scoped as? -->
            <input type="email" id="Email" value="">
            <button>Register</button>
        </div>
    }

    @try
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^^ keyword.control.exception.try.cs *@
    {
        throw new InvalidOperationException("You did something invalid.");
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^^^ keyword.control.flow.throw.cs *@
@*            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.instantiation.cs *@
@*            ^^^ keyword.operator.new.cs *@
@*                ^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.identifier.cs support.type.cs *@
@*                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.arguments.cs meta.group.cs *@
@*                                         ^ punctuation.section.group.begin.cs *@
@*                                          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.cs string.quoted.double.cs *@
@*                                          ^ punctuation.definition.string.begin.cs *@
@*                                                                     ^ punctuation.definition.string.end.cs *@
@*                                                                      ^ punctuation.section.group.end.cs *@
@*                                                                       ^ punctuation.terminator.statement.cs *@
    }
    catch (Exception ex)
@*  ^^^^^ keyword.control.exception.catch.cs *@
@*        ^^^^^^^^^^^^^^ meta.group.cs *@
@*        ^ punctuation.section.group.begin.cs *@
@*         ^^^^^^^^^ support.type.cs *@
@*                   ^^ variable.other.cs *@
@*                     ^ punctuation.section.group.end.cs *@
    {
        <p>The exception message: @ex.Message</p>
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^ meta.tag.block.any.html *@
@*      ^ punctuation.definition.tag.begin.html *@
@*       ^ entity.name.tag.block.any.html *@
@*        ^ punctuation.definition.tag.end.html *@
@*                                ^ punctuation.section.embedded.line.cs-razor *@
@*                                 ^^^^^^^^^^ source.cs.embedded.html *@
@*                                 ^^ variable.other.cs *@
@*                                   ^ punctuation.accessor.dot.cs *@
@*                                    ^^^^^^^ variable.other.cs *@
@*                                           ^^^^ meta.tag.block.any.html *@
@*                                           ^^ punctuation.definition.tag.begin.html *@
@*                                             ^ entity.name.tag.block.any.html *@
@*                                              ^ punctuation.definition.tag.end.html *@
    }
    finally
    {
        <p>The finally statement.</p>
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.block.cs *@
@*      ^^^ meta.tag.block.any.html *@
@*      ^ punctuation.definition.tag.begin.html *@
@*       ^ entity.name.tag.block.any.html *@
@*        ^ punctuation.definition.tag.end.html *@
@*                               ^^^^ meta.tag.block.any.html *@
@*                               ^^ punctuation.definition.tag.begin.html *@
@*                                 ^ entity.name.tag.block.any.html *@
@*                                  ^ punctuation.definition.tag.end.html *@
    }

    @lock (SomeLock)
@*  ^ meta.embedded.cs punctuation.section.embedded.begin.cs-razor *@
@*   ^^^^ keyword.control.flow.lock.cs *@
@*        ^^^^^^^^^^ meta.group.cs *@
@*        ^ punctuation.section.group.begin.cs *@
@*         ^^^^^^^^ variable.other.cs *@
@*                 ^ punctuation.section.group.end.cs *@
    {
        // Do critical section work
    }


    @{
        /* C# comment */
@*^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.cs source.cs.embedded.html *@
@*      ^^^^^^^^^^^^^^^^ comment.block.cs *@
@*      ^^ punctuation.definition.comment.begin.cs *@
@*                    ^^ punctuation.definition.comment.end.cs *@

        // Another C# comment
@*^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.cs source.cs.embedded.html *@
@*      ^^^^^^^^^^^^^^^^^^^^^^ comment.line.double-slash.cs *@
@*      ^^ punctuation.definition.comment.cs *@
    }
    <!-- HTML comment -->
@*  ^^^^^^^^^^^^^^^^^^^^^ comment.block.html *@
@*  ^^^^ punctuation.definition.comment.begin.html *@
@*                    ^^^ punctuation.definition.comment.end.html *@


    @functions {
@*  ^ punctuation.section.embedded.line.cs-razor *@
@*   ^^^^^^^^^ source.cs.embedded.html keyword.other.cs-razor *@
@*             ^ punctuation.section.block.begin.cs-razor *@
        public string GetHello()
@*      ^^^^^^ storage.modifier.access.cs *@
@*             ^^^^^^ storage.type.primitive.cs *@
@*                    ^^^^^^^^ meta.method.cs entity.name.function.cs *@
@*                            ^^ meta.method.parameters.cs *@
@*                            ^ punctuation.section.parameters.begin.cs *@
@*                             ^ punctuation.section.parameters.end.cs *@
@*                              ^ meta.method.cs *@
        {
            return "Hello";
@*^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.method.body.cs meta.block.cs *@
@*          ^^^^^^ keyword.control.flow.return.cs *@
@*                 ^^^^^^^ meta.string.cs string.quoted.double.cs *@
@*                 ^ punctuation.definition.string.begin.cs *@
@*                       ^ punctuation.definition.string.end.cs *@
@*                        ^ punctuation.terminator.statement.cs *@
        }
    }

    <div>From method: @GetHello()</div>
@*  ^^^^^ meta.tag.block.any.html *@
@*  ^ punctuation.definition.tag.begin.html *@
@*   ^^^ entity.name.tag.block.any.html *@
@*      ^ punctuation.definition.tag.end.html *@
@*                    ^ punctuation.section.embedded.line.cs-razor *@
@*                     ^^^^^^^^^^ source.cs.embedded.html *@
@*                     ^^^^^^^^ meta.function-call.identifier.cs variable.function.cs *@
@*                             ^^ meta.function-call.arguments.cs meta.group.cs *@
@*                             ^ punctuation.section.group.begin.cs *@
@*                              ^ punctuation.section.group.end.cs *@
@*                               ^^^^^^ meta.tag.block.any.html *@
@*                               ^^ punctuation.definition.tag.begin.html *@
@*                                 ^^^ entity.name.tag.block.any.html *@
@*                                    ^ punctuation.definition.tag.end.html *@
