<!-- SYNTAX TEST "Packages/HTML (C#)/Razor/Razor.sublime-syntax" -->
<!-- https://docs.microsoft.com/en-us/aspnet/core/mvc/views/razor?view=aspnetcore-2.1 -->
@using System.Collections.Generic
<!-- <- punctuation.section.embedded.line - source.cs.embedded -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded -->
<!-- ^ keyword.other -->
<!--                             ^ - source.cs.embedded -->
@model IEnumerable<SomeNamespace.SomeType>
<!-- <- punctuation.section.embedded.line - source.cs.embedded -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded -->
<!-- ^ keyword.other -->
<!--   ^^^^^^^^^^^ support.type -->
<!--              ^ punctuation.definition.generic.begin -->
<!--               ^^^^^^^^^^^^^ support.type -->
<!--                            ^ punctuation.accessor.dot.namespace -->
<!--                             ^^^^^^^^ support.type -->
<!--                                     ^ punctuation.definition.generic.end -->
<!--                                      ^ - source.cs.embedded -->

     <p>@@Username</p>
<!-- ^^^ text.html meta.tag.block.any -->
<!--    ^^ constant.character.escape -->
<!--      ^^^^^^^^^^^^^ text.html -->
<!--              ^^^^ meta.tag.block.any -->

     <p>@Username</p>
<!-- ^^^ meta.tag.block.any -->
<!--    ^ punctuation.section.embedded.line -->
<!--     ^^^^^^^^ source.cs.embedded variable.other -->
<!--             ^^^^ meta.tag.block.any -->

<a href="mailto:Support@contoso.com">Support@contoso.com</a>
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.inline - source.cs -->
<!--                                 ^^^^^^^^^^^^^^^^^^^^^^^ - source.cs -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ text.html -->
<!--                                                    ^^^^ meta.tag.inline -->

<p>@DateTime.Now</p>
<!-- ^^^^^^^ source.cs.embedded variable.other -->
<!--        ^ source.cs.embedded punctuation.accessor.dot -->
<!--         ^^^ source.cs.embedded variable.other -->
<!--            ^^^ meta.tag.block.any -->
<p>@DateTime.IsLeapYear(2016)</p>
<!-- ^^^^^^^ source.cs.embedded variable.other -->
<!--        ^ source.cs.embedded punctuation.accessor.dot -->
<!--         ^^^^^^^^^^ source.cs.embedded meta.function-call variable.function -->
<!--                   ^ punctuation.section.group.begin -->
<!--                    ^^^^ constant.numeric -->
<!--                        ^ punctuation.section.group.end -->
<!--                         ^^^ meta.tag.block.any -->

     <p>@(GenericMethod<int>())</p>
<!--    ^^ punctuation.section.embedded.begin -->
<!--      ^^^^^^^^^^^^^^^^^^^^ source.cs.embedded - text.html -->
<!--      ^^^^^^^^^^^^^ meta.function-call variable.function -->
<!--                   ^ punctuation.definition.generic.begin -->
<!--                    ^^^ storage.type -->
<!--                       ^ punctuation.definition.generic.end -->
<!--                        ^ punctuation.section.group.begin -->
<!--                         ^ punctuation.section.group.end -->
<!--                          ^ punctuation.section.embedded.end -->
<!--                           ^^^ meta.tag.block.any -->

@("<span>Hello World</span>")
<!-- <- punctuation.section.embedded.begin -->
<!-- ^^^^^^^^^^^^^^^^^^^^^^^ source.cs string.quoted.double - text.html -->
<!--                        ^ punctuation.section.embedded.end -->
@Html.Raw("<span>Hello World</span>")
<!--  ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call -->
<!--  ^^^ variable.function -->
<!-- <- punctuation.section.embedded.line -->
<!--      ^^^^^^^^^^^^^^^^^^^^^^^ string.quoted.double -->
<!--                                ^ punctuation.section.group.end -->

     @if (value % 2 == 0)
<!-- ^ punctuation.section.embedded - source.cs -->
<!--  ^^ keyword.control.conditional.if -->
{
<!-- <- meta.block punctuation.section.block.begin -->
    <p>The value was even.</p>
<!--^^^ meta.tag.block.any -->
}
else if (value >= 1337)
<!-- <- keyword.control.conditional.elseif -->
{
    <p>The value is large.</p>
}
else
<!-- <- keyword.control.conditional.else -->
{
    <p>The value is odd and small.</p>
}

@switch (value)
{
    case 1:
<!--^^^^ keyword.control.switch.case -->
        <p>The value is 1!</p>
        break;
    case 1337:
        <p>Your number is 1337!</p>
        break;
    default:
        <p>Your number wasn't 1 or 1337.</p>
        break;
<!--    ^^^^^ keyword.control.flow.break -->
}
@*
@for (var i = 0; i < people.Length; i++)
<!-- <- comment.block - punctuation -->
{
    var person = people[i];
    <text>Name: @person.Name</text>
}

@for (var i = 0; i < people.Length; i++)
{
    var person = people[i];
    @:Name: @person.Name
}     *@
<!--  ^^ comment.block punctuation.definition.comment -->

    @{ }  
<!--^^^^^^ meta.embedded.cs -->
<!--^^ punctuation.section.embedded.begin.cs-razor - source -->
<!--  ^ source.cs.embedded.html -->
<!--   ^ punctuation.section.embedded.end.cs-razor - source -->
<!--    ^^ meta.html-newline-after-csharp.cs-razor - source -->

@{
    var quote = "The future depends on what you do today. - Mahatma Gandhi";
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.embedded.cs source.cs.embedded.html -->
<!--    ^^^^^ variable.other.cs -->
<!--          ^ keyword.operator.assignment.variable.cs -->
<!--            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.cs string.quoted.double.cs -->
<!--            ^ punctuation.definition.string.begin.cs -->
<!--                                                                      ^ punctuation.definition.string.end.cs -->
<!--                                                                       ^ punctuation.terminator.statement.cs -->
}
<!-- ^ text.html - source -->

    <p>@quote</p>
<!--^^^ meta.tag.block.any.html -->
<!--^ punctuation.definition.tag.begin.html -->
<!-- ^ entity.name.tag.block.any.html -->
<!--  ^ punctuation.definition.tag.end.html -->
<!--   ^ punctuation.section.embedded.line.cs-razor -->
<!--    ^^^^^ source.cs.embedded.html variable.other.cs -->
<!--         ^^^^ meta.tag.block.any.html -->
<!--         ^^ punctuation.definition.tag.begin.html -->
<!--           ^ entity.name.tag.block.any.html -->
<!--            ^ punctuation.definition.tag.end.html -->

@{
    quote = "Hate cannot drive out hate, only love can do that. - Martin Luther King, Jr.";
}

<p>@quote</p>

<div class="grid-mvc" data-lang="@Model.Language" data-gridname="@Model.RenderOptions.GridName" data-selectable="@Model.RenderOptions.Selectable.ToString().ToLower()" data-multiplefilters ="@Model.RenderOptions.AllowMultipleFilters.ToString().ToLower()">
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.block.any.html -->
<!-- ^^^^^^^^^^^^^^^^ meta.attribute-with-value.class.html -->
<!-- ^^^^^ entity.other.attribute-name.class.html -->
<!--      ^ punctuation.separator.key-value.html -->
<!--       ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html -->
<!--        ^^^^^^^^ meta.class-name.html meta.string.html string.quoted.double.html -->
<!--                ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html -->
<!--                  ^^^^^^^^^ entity.other.attribute-name.html -->
<!--                           ^ punctuation.separator.key-value.html -->
<!--                            ^^^^^^^^^^^^^^^^^ meta.string.html string.quoted.double.html -->
<!--                            ^ punctuation.definition.string.begin.html -->
<!--                             ^ punctuation.section.interpolation.begin.razor -->
<!--                              ^^^^^^^^^^^^^^ source.cs.embedded.html-attribute-string.razor -->
<!--                              ^^^^^ variable.other.cs -->
<!--                                   ^ punctuation.accessor.dot.cs -->
<!--                                    ^^^^^^^^ variable.other.cs -->
<!--                                            ^ punctuation.definition.string.end.html -->
<!--                                              ^^^^^^^^^^^^^ entity.other.attribute-name.html -->
<!--                                                           ^ punctuation.separator.key-value.html -->
<!--                                                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.html string.quoted.double.html -->
<!--                                                            ^ punctuation.definition.string.begin.html -->
<!--                                                             ^ punctuation.section.interpolation.begin.razor -->
<!--                                                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html-attribute-string.razor -->
<!--                                                              ^^^^^ variable.other.cs -->
<!--                                                                   ^ punctuation.accessor.dot.cs -->
<!--                                                                    ^^^^^^^^^^^^^ variable.other.cs -->
<!--                                                                                 ^ punctuation.accessor.dot.cs -->
<!--                                                                                  ^^^^^^^^ variable.other.cs -->
<!--                                                                                          ^ punctuation.definition.string.end.html -->
<!--                                                                                            ^^^^^^^^^^^^^^^ entity.other.attribute-name.html -->
<!--                                                                                                           ^ punctuation.separator.key-value.html -->
<!--                                                                                                            ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.html string.quoted.double.html -->
<!--                                                                                                            ^ punctuation.definition.string.begin.html -->
<!--                                                                                                             ^ punctuation.section.interpolation.begin.razor -->
<!--                                                                                                              ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html-attribute-string.razor -->
<!--                                                                                                              ^^^^^ variable.other.cs -->
<!--                                                                                                                   ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                    ^^^^^^^^^^^^^ variable.other.cs -->
<!--                                                                                                                                 ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                  ^^^^^^^^^^ variable.other.cs -->
<!--                                                                                                                                            ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                             ^^^^^^^^^^ meta.function-call.cs -->
<!--                                                                                                                                             ^^^^^^^^ variable.function.cs -->
<!--                                                                                                                                                     ^^ meta.group.cs -->
<!--                                                                                                                                                     ^ punctuation.section.group.begin.cs -->
<!--                                                                                                                                                      ^ punctuation.section.group.end.cs -->
<!--                                                                                                                                                       ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                                        ^^^^^^^^^ meta.function-call.cs -->
<!--                                                                                                                                                        ^^^^^^^ variable.function.cs -->
<!--                                                                                                                                                               ^^ meta.group.cs -->
<!--                                                                                                                                                               ^ punctuation.section.group.begin.cs -->
<!--                                                                                                                                                                ^ punctuation.section.group.end.cs -->
<!--                                                                                                                                                                 ^ punctuation.definition.string.end.html -->
<!--                                                                                                                                                                   ^^^^^^^^^^^^^^^^^^^^ entity.other.attribute-name.html -->
<!--                                                                                                                                                                                        ^ punctuation.separator.key-value.html -->
<!--                                                                                                                                                                                         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.string.html string.quoted.double.html -->
<!--                                                                                                                                                                                         ^ punctuation.definition.string.begin.html -->
<!--                                                                                                                                                                                          ^ punctuation.section.interpolation.begin.razor -->
<!--                                                                                                                                                                                           ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html-attribute-string.razor -->
<!--                                                                                                                                                                                           ^^^^^ variable.other.cs -->
<!--                                                                                                                                                                                                ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                                                                                 ^^^^^^^^^^^^^ variable.other.cs -->
<!--                                                                                                                                                                                                              ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                                                                                               ^^^^^^^^^^^^^^^^^^^^ variable.other.cs -->
<!--                                                                                                                                                                                                                                   ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                                                                                                                    ^^^^^^^^^^ meta.function-call.cs -->
<!--                                                                                                                                                                                                                                    ^^^^^^^^ variable.function.cs -->
<!--                                                                                                                                                                                                                                            ^^ meta.group.cs -->
<!--                                                                                                                                                                                                                                            ^ punctuation.section.group.begin.cs -->
<!--                                                                                                                                                                                                                                             ^ punctuation.section.group.end.cs -->
<!--                                                                                                                                                                                                                                              ^ punctuation.accessor.dot.cs -->
<!--                                                                                                                                                                                                                                               ^^^^^^^^^ meta.function-call.cs -->
<!--                                                                                                                                                                                                                                               ^^^^^^^ variable.function.cs -->
<!--                                                                                                                                                                                                                                                      ^^ meta.group.cs -->
<!--                                                                                                                                                                                                                                                      ^ punctuation.section.group.begin.cs -->
<!--                                                                                                                                                                                                                                                       ^ punctuation.section.group.end.cs -->
<!--                                                                                                                                                                                                                                                        ^ punctuation.definition.string.end.html -->
<!--                                                                                                                                                                                                                                                         ^ punctuation.definition.tag.end.html -->

<li>
    <a href="@Model.GetLinkForPage(Model.CurrentPage - 1)">«</a>
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.inline.any.html -->
<!--^ punctuation.definition.tag.begin.html -->
<!-- ^ entity.name.tag.inline.any.html -->
<!--   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.href.html -->
<!--   ^^^^ entity.other.attribute-name.href.html -->
<!--       ^ punctuation.separator.key-value.html -->
<!--        ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html -->
<!--         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.path.url.html meta.string.html string.quoted.double.html -->
<!--         ^ punctuation.section.interpolation.begin.razor -->
<!--          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html-attribute-string.razor -->
<!--          ^^^^^ variable.other.cs -->
<!--               ^ punctuation.accessor.dot.cs -->
<!--                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.cs -->
<!--                ^^^^^^^^^^^^^^ variable.function.cs -->
<!--                              ^^^^^^^^^^^^^^^^^^^^^^^ meta.group.cs -->
<!--                              ^ punctuation.section.group.begin.cs -->
<!--                               ^^^^^ variable.other.cs -->
<!--                                    ^ punctuation.accessor.dot.cs -->
<!--                                     ^^^^^^^^^^^ variable.other.cs -->
<!--                                                 ^ keyword.operator.cs -->
<!--                                                   ^ meta.number.integer.decimal.cs constant.numeric.value.cs -->
<!--                                                    ^ punctuation.section.group.end.cs -->
<!--                                                     ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html -->
<!--                                                      ^ punctuation.definition.tag.end.html -->
<!--                                                        ^^ punctuation.definition.tag.begin.html -->
<!--                                                          ^ entity.name.tag.inline.any.html -->
<!--                                                           ^ punctuation.definition.tag.end.html -->
</li>
<li>
    <a href="@Model.FunctionCall("embedded string")">"quotes" everywhere</a>
<!--^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.tag.inline.any.html -->
<!--^ punctuation.definition.tag.begin.html -->
<!-- ^ entity.name.tag.inline.any.html -->
<!--   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.attribute-with-value.href.html -->
<!--   ^^^^ entity.other.attribute-name.href.html -->
<!--       ^ punctuation.separator.key-value.html -->
<!--        ^ meta.string.html string.quoted.double.html punctuation.definition.string.begin.html -->
<!--         ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.path.url.html meta.string.html string.quoted.double.html -->
<!--         ^ punctuation.section.interpolation.begin.razor -->
<!--          ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.html-attribute-string.razor -->
<!--          ^^^^^ variable.other.cs -->
<!--               ^ punctuation.accessor.dot.cs -->
<!--                ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ meta.function-call.cs -->
<!--                ^^^^^^^^^^^^ variable.function.cs -->
<!--                            ^^^^^^^^^^^^^^^^^^^ meta.group.cs -->
<!--                            ^ punctuation.section.group.begin.cs -->
<!--                             ^^^^^^^^^^^^^^^^^ meta.string.cs string.quoted.double.cs -->
<!--                             ^ punctuation.definition.string.begin.cs -->
<!--                                             ^ punctuation.definition.string.end.cs -->
<!--                                              ^ punctuation.section.group.end.cs -->
<!--                                               ^ meta.string.html string.quoted.double.html punctuation.definition.string.end.html -->
<!--                                                ^ punctuation.definition.tag.end.html -->
<!--                                                                    ^^ punctuation.definition.tag.begin.html -->
<!--                                                                      ^ entity.name.tag.inline.any.html -->
<!--                                                                       ^ punctuation.definition.tag.end.html -->
</li>

@using (Html.BeginForm())
{
    <div>
        email:
<!-- TODO: what should the above be scoped as? -->
        <input type="email" id="Email" value="">
        <button>Register</button>
    </div>
}

@try
{
    throw new InvalidOperationException("You did something invalid.");
}
catch (Exception ex)
{
    <p>The exception message: @ex.Message</p>
}
finally
{
    <p>The finally statement.</p>
}

@lock (SomeLock)
{
    // Do critical section work
}


@{
    /* C# comment */
<!--^^^^^^^^^^^^^^^^ meta.embedded.cs source.cs.embedded.html -->
<!--^^^^^^^^^^^^^^^^ comment.block.cs -->
<!--^^ punctuation.definition.comment.begin.cs -->
<!--              ^^ punctuation.definition.comment.end.cs -->
    // Another C# comment
<!--^^^^^^^^^^^^^^^^^^^^^ meta.embedded.cs source.cs.embedded.html -->
<!--^^^^^^^^^^^^^^^^^^^^^ comment.line.double-slash.cs -->
<!--^^ punctuation.definition.comment.cs -->
}
<!-- HTML comment -->
<!-- ^^^^^^^^^^^^^^^^ comment.block.html -->


@functions {
// <!-- ^^ keyword.other -->
    public string GetHello()
// <!-- ^^^^^^^^^^^^^^^^^^^^^ source.cs.embedded.functions -->
// <!-- ^^ storage.modifier.access -->
    {
        return "Hello";
    }
}
<!-- ^ - source.cs.embedded.functions -->

<div>From method: @GetHello()</div>

<form id="searchForm" action="@Url.Action("Search", "Controller")" method="post">
<!-- TODO: scope @ constructs in HTML attribute values correctly -->
    <div style="@(HtmlHelpers.DevModeEnabled(Request) ? "display: none;" : "")">
    </div>
</form>

<article data-example="@example.ID">
</article>

@foreach (var item in Model)
{
    if (item.ShouldBeDisplayed)
    {
        <article data-id="@item.ID">
        <!-- TODO: scope at constructs in HTML attribute values correctly even when inside a razor code block -->
        </article>
    }
}

@section Scripts {
<!--     ^^^^^^^ entity.name.section -->
    <script type="text/javascript" src="/scripts/main.js"></script>
<!-- ^^^^^^ entity.name.tag.script -->

    <script type="text/javascript">
        function find() {
            // TODO: Fix embedded languages
            var val = $('@HtmlHelpers.Something').val();
        }
    </script>
}
